*{    border-radius: 10px;}

body{
background-color: rgb(78, 78, 78);}

button{
    width: 100px;
    height: 100px;
    display: block;
}
.toolContainer{

    display: flex;
    text-align: center;
    justify-content: center;
}
.controlButtons{


}

#myCanvas{
    border: 3px solid black;
    background-color: white;

}